In [ ]:
!pip install transformers

In [ ]:
import nltk
nltk.download('punkt')

In [39]:
from sklearn.linear_model import LogisticRegression

In [38]:
from sklearn.metrics import f1_score, classification_report, confusion_matrix

In [46]:
import pickle

In [3]:
import pandas as pd
import numpy as np

# Embedding creation

In [22]:
from fincat_utils import extract_context_words

In [23]:
from fincat_utils import bert_embedding_extract

In [8]:
# These datasets have been acquired from https://sites.google.com/nlg.csie.ntu.edu.tw/finnum3/data
train = pd.read_csv('FinNum-3_ConCall_train.csv')
valid = pd.read_csv('FinNum-3_ConCall_dev.csv')
train.head()

                                           paragraph  ...  claim
0  Good day and welcome to the Apple Inc. Third Q...  ...      0
1  Please note that some of the information you'l...  ...      0
2  Please note that some of the information you'l...  ...      0
3  Thank you Nancy and thanks to everyone for joi...  ...      0
4  Thank you Nancy and thanks to everyone for joi...  ...      0

[5 rows x 6 columns]

In [9]:
train['context_text'] = train.apply(lambda x : extract_context_words(x), axis = 1)
valid['context_text'] = valid.apply(lambda x : extract_context_words(x), axis = 1)

In [10]:
train['context_text'].head()

0    Apple Inc. Third Quarter Fiscal Year 2018 Earn...
1    recently filed periodic reports on Form 10-K a...
2    and Form 10-Q and the Form 8-K filed with the ...
3    Services and Wearables . We generated $53.3 bi...
4    53.3 billion in revenue a new Q3 record . That...
Name: context_text, dtype: object

In [25]:
def full_word_extract(x):
  paragraph, offset_start, offset_end = x['paragraph'], x['offset_start'], x['offset_end']
  paragraph = ' ' + paragraph + ' '
  offset_start = offset_start + 1
  offset_end = offset_end + 1
  prev_space_posn = (paragraph[:offset_start].rindex(' ')+1)
  end_space_posn = (offset_end+paragraph[offset_end:].index(' '))
  full_word = paragraph[prev_space_posn : end_space_posn]
  return full_word

train['full_word'] = train.apply(lambda x : full_word_extract(x), axis = 1)
valid['full_word'] = valid.apply(lambda x : full_word_extract(x), axis = 1)

In [26]:
X_train = train.apply(lambda x : bert_embedding_extract(x['context_text'], x['full_word']), axis = 1)
X_valid = valid.apply(lambda x : bert_embedding_extract(x['context_text'], x['full_word']), axis = 1)

In [33]:
X_train_df = pd.DataFrame([i for i in X_train.values])
X_train_df.head()

        0         1         2    ...       765       766       767
0  0.368809 -0.183757  0.303547  ... -0.269589  0.029032 -0.141106
1 -0.229693 -0.089069  0.277564  ...  0.311590 -0.003990 -0.047092
2 -0.312533  0.074236  0.340413  ...  0.178910 -0.014725 -0.112120
3 -0.077108 -0.161483  0.312860  ... -0.110605  0.315011  0.099651
4 -0.063771 -0.050664  0.679189  ... -0.364667  0.242617 -0.194775

[5 rows x 768 columns]

Warning: Total number of columns (768) exceeds max_columns (20) limiting to first (20) columns.

In [34]:
X_train_df.to_csv('X_train_df.csv', index = False)

In [35]:
X_valid_df = pd.DataFrame([i for i in X_valid.values])
X_valid_df.to_csv('X_valid_df.csv', index = False)

In [36]:
Y_train = train[['claim']]
Y_valid = valid[['claim']]

In [37]:
Y_train.to_csv('Y_train.csv', index = False)
Y_valid.to_csv('Y_valid.csv', index = False)

# Data Loading

In [ ]:
X_train_df = pd.read_csv('X_train_df.csv') #Extract X_train_df.zip first
Y_train = pd.read_csv('Y_train.csv')
X_valid_df = pd.read_csv('X_valid_df.csv')
Y_valid = pd.read_csv('Y_valid.csv')

# Model Development

In [ ]:
lr_clf = LogisticRegression(solver='lbfgs')
lr_clf.fit(X_train_df, Y_train)

In [41]:
pred_train = lr_clf.predict(X_train_df)
pred_valid = lr_clf.predict(X_valid_df)

In [42]:
#Training F1 score (micro)
f1_score(Y_train, pred_train, average='micro')

0.9697732997481109

In [43]:
#Training F1 score (macro)
f1_score(Y_train, pred_train, average='macro')

0.9282894717080981

In [44]:
#Validation F1 score (micro)
f1_score(Y_valid, pred_valid, average='micro')

0.929471032745592

In [45]:
#Validation F1 score (macro)
f1_score(Y_valid, pred_valid, average='macro')

0.8222564918913541

In [47]:
pickle.dump(lr_clf, open("lr_clf_FiNCAT.pickle", "wb"))